<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.GoodsMapper">
    <resultMap id="goodsMap" type="Goods">
        <id property="id" column="id"/>
        <association property="goodsDesc" column="id"
                     javaType="GoodsDesc" select="com.pinyougou.mapper.GoodsDescMapper.findByGoodsId"/>
        <collection property="items" column="id"
                    ofType="Item" select="com.pinyougou.mapper.ItemMapper.findByGoodsId"/>
    </resultMap>
    <select id="findAsPage" resultMap="goodsMap">
        select * from tb_goods
        <where>
            <if test="goodsName != null and goodsName != ''">
                goods_name LIKE CONCAT('%', #{goodsName}, '%')
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                AND audit_status = #{auditStatus}
            </if>
            <if test="sellerId != null and sellerId != ''">
                AND seller_id = #{sellerId}
            </if>
        </where>
    </select>

    <select id="findAll" resultType="map">
        select id, goods_name goodsName, price, category1_id category1Id, category2_id category2Id, category3_id
        category3Id, audit_status auditStatus, is_delete isDelete, is_marketable isMarketable from tb_goods
        <where>
            <if test="goodsName != null and goodsName != ''">
                goods_name LIKE CONCAT('%', #{goodsName}, '%')
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                AND audit_status = #{auditStatus}
            </if>
            <if test="sellerId != null and sellerId != ''">
                AND seller_id = #{sellerId}
            </if>
        </where>
    </select>

    <delete id="deleteAll">
        UPDATE tb_goods SET is_delete = 1 WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <update id="updateAll">
        UPDATE tb_goods SET audit_status = #{auditStatus} WHERE id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </update>

    <update id="updateMarketable">
        UPDATE tb_goods SET is_marketable = #{marketable} WHERE id IN
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </update>

    <!--<update id="refuseAll">-->
        <!--UPDATE tb_goods SET audit_status = 2 WHERE id IN-->
        <!--<foreach collection="array" open="(" close=")" separator="," item="id">-->
            <!--#{id}-->
        <!--</foreach>-->
    <!--</update>-->
</mapper>